.comp-product-container {
    padding: 0 125px;
    &__title {
        h1 {
            font-size: 32px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 56px 0 24px 30px;
    
            &::before {
                content: '//';
                position: absolute;
                color: #03FFA5;
                left: 9%;
            }
        }
    }

    &__products {
        display: flex;
        justify-content: space-around;

        &-item {
            border: 1px solid #F2F2F2;
            padding-left: 16px;

            &-title {
                width: 100px;
                height: 100px;
                background-color: #F2F2F2;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                font-weight: 500;
                margin: 16px 0 53px 0px;
            }

            &-name {
                line-height: 24px;
                font-weight: 500;
            }

            &-description {
                font-size: 12px;
                font-weight: 500;
                color: #EE0E7D;
                padding: 16px 0;
            }
        }

        &-list-item {
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
            list-style: disc;
            margin-left: 16px;
        }

        Button {
            font-weight: 500;
            line-height: 24px;
            border-radius: 6px;
            padding: 12px 64px;
            background-color: #03FFA5;
            border: none;
            margin: 16px 0;
        }
    }
}

.comp-aboutUs-container {
    display: flex;
    justify-content: space-around;
    margin: 136px 125px 64px 125px;

    &-text {
        width: 26%;
        h1 {
            font-size: 32px;
            line-height: 40px;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            line-height: 24px;
            font-weight: 500;
        }

        Button {
            line-height: 24px;
            font-weight: 500;
            padding: 12px 40px;
            border-radius: 8px;
            margin-top: 40px;
            background-color: transparent;
        }
    }

    &-image {
        width: 56%;
        position: relative;

        &::after {
            content: "";
            width: 710px;
            height: 648px;
            background: #F2F2F2;
            position: absolute;
            left: 13%;
            z-index: -1;
            top: -10%;
        }
        img {
            width: 676px;
            height: 520px;
            border-radius: 4px;
        }
    }
}

.comp-email-container {
    background-color: #EE0E7D;

    &-text {
        display: flex;
        flex-direction: column;
        padding: 136px 382px;
        text-align: center;
        color: #ffffff;

        h1 {
            font-size: 32px;
            font-weight: 40px;
            font-weight: bold;
            text-transform: uppercase;
        }

        p {
            font-weight: 500;
            line-height: 24px;
            padding: 32px 0 8px 0;
        }

        h3 {
            font-weight: 500;
            font-size: 32px;
            line-height: 24px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .comp-aboutUs-container {  
        flex-direction: column;
        margin: 40px 0px 0px 0px;

        &-text {
            width: 100%;
            margin-bottom: 20px;
        }

        &-image {
            width: 100%;

            &::after {
                content: "";
                background: none;
            }

            img {
                width: inherit;
                height: auto;
            }
        }

}

.comp-product-container {
    padding: 0 25px;

    &__title {
        text-align: center;
    }

    &__products {
        flex-direction: column;
        align-items: center;
    }
}
}

@media only screen and (max-width: 1024px) {
    .comp-email-container {  
        &-text {
            padding: 136px 0px;
    }
}
}
